<% content_for :main_content do %>  

    <% if @setportfolio %>

    <% else %>
      <%= turbo_frame_tag "modal" do %>
        <div class="">
          <%= render "add_portfolio" %>
        </div>
      <% end %>
    <% end %>

    <div>
     <% quote = quotes(params[:stock_symbol]) %>
     <% company = company(params[:stock_symbol])%>
      <span class="font-bold text-m"><%= company.company_name %></span>
      <h1 class="font-bold text-m"><%= company.symbol %></h1>
      <%= image_tag logo(params[:stock_symbol]).url, class:"w-10 h-10" %>
      <span class="font-bold text-m">$<%= quote.latest_price %></span>
    </div>

    <div class="w-1/2">
    <%= candlestick_chart @chart_stock,
      class: 'box',
      theme: 'sakura',
      options: {
        series: {
          itemStyle: {
            color: '#ec0000',
            color0: '#008F28',
            borderColor: '#8A0000',
            borderColor0: '#008F28'
          }
        },
        title: {
          text: "Price History Data"
        },
        xAxis: {
          boundaryGap: false,
          axisLine: { onZero: false },
          splitLine: { show: false },
          min: 'dataMin',
          max: 'dataMax'
        },
        yAxis: {
          scale: true,
          splitArea: {
            show: true
          }
        },
        dataZoom: [
          {
            type: 'inside',
            start: 50,
            end: 100
          },
          {
            show: true,
            type: 'slider',
            top: '90%',
            start: 50,
            end: 100
          }
        ],
        grid: [
          {
            left: 30,
            right: 30,
          },
        ],
      }
    %>
    </div>

  <div id="container">
    <% if @setportfolio %>
        <%= link_to "Buy", new_portfolio_transaction_path(portfolio_id: @setportfolio.id, :transaction => "buy") %>
        <%= link_to "Sell",new_portfolio_transaction_path(portfolio_id: @setportfolio.id, :transaction => "sell") %>
    <% else %>
    <div id="disablebtn" class="hidden">
      <h1>Add to portfolio to buy/sell this stock.</h1>
        <%= link_to "Buy" %>
        <%= link_to "Sell" %>
    </div>
    <% end %>
  </div>

<% end %>

