<% content_for :main_content do %>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-md text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    SYMBOL
                </th>
                <th scope="col" class="px-6 py-3">
                    COMPANY NAME
                </th>
                <th scope="col" class="px-6 py-3">
                    PRIMARY EXCHANGE
                </th>
                <th scope="col" class="px-6 py-3">
                    CHANGE PERCENT
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    BUY/SELL
                </th>
            </tr>
        </thead>
        <tbody>
            <% @show.each do | list | %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= list.symbol %></th>   
                <td class="px-6 py-4"><%= list.company_name %></td>
                <td class="px-6 py-4"><%= list.symbol %></td>
                <td class="px-6 py-4"><%= list.primary_exchange %></td>
                <td class="px-6 py-4 text-center"><%= link_to raw('View Market <i class="fa-solid fa-magnifying-glass-chart"></i>'), show_portfolio_path(:stock_symbol => list.symbol) %></td>
                <% end %>     
            </tr>
        </tbody>
    </table>
</div>
<% end %>


