<div>
<% if @trans == "buy" %>
<h1>Buy</h1>
<% elsif @trans == "sell" %>
<h1>Sell</h1>
<% end %>
    <div>
      <h1><%= $company.company_name%></h1>
      <h1>(<%= $company.symbol %>)</h1>
      <%= image_tag @logo.url %>
      <%= @quote.latest_price %>
    </div>
<div class="w-24">
<%= candlestick_chart @chart_stock,
      class: 'box',
      theme: 'sakura',
      options: {
        series: {
          itemStyle: {
            color: '#ec0000',
            color0: '#008F28',
            borderColor: '#8A0000',
            borderColor0: '#008F28'
          }
        },
        title: {
          text: "Price History Data"
        },
        xAxis: {
          boundaryGap: false,
          axisLine: { onZero: false },
          splitLine: { show: false },
          min: 'dataMin',
          max: 'dataMax'
        },
        yAxis: {
          scale: true,
          splitArea: {
            show: true
          }
        },
        dataZoom: [
          {
            type: 'inside',
            start: 50,
            end: 100
          },
          {
            show: true,
            type: 'slider',
            top: '90%',
            start: 50,
            end: 100
          }
        ],
      }
    %>
</div>
<%= form_with model: [@portfolio, @transaction], local: true do |f| %>
    <div class="col-sm-12">
        <% f.label :symbol, style: "display: block" %>
        <%= f.text_field :symbol, value: @portfolio.symbol %>
    </div>

    <div>
        <% f.label :price, style: "display: block" %>
        <%= f.text_field :price, value: @quote.latest_price %>
    </div>

    <div>
        <%= f.label :amount, style: "display: block" %>
        <%= f.text_field :amount %>
    </div>  

    <div>
        <%= f.label :portfolio_id, style: "display: block" %>
        <%= f.text_field :portfolio_id, value: @portfolio.id %>
        <%= f.text_field :transaction_kind, value: @trans %>
    </div>  

    <div>
        <h1>Total Price: $ <%= @quote.latest_price   %>  </h1>
    </div>  

    <p>
        <% if @transaction.errors.any? %>
        <ul>
            <% @transaction.errors.full_messages.each do | message |%>
            <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
        <% end %>
    </p>

    <div>
      <% if @trans == "buy" %>
        <%= f.submit "Buy" %>
      <% elsif @trans == "sell" %>
        <%= f.submit "Sell" %>
      <% end %>
    </div>
    
<% end %>
</div>