<div>
<h1>Sell</h1>
    <div>
      <h1><%= $company.company_name%></h1>
      <h1>(<%= $company.symbol %>)</h1>
      <%= image_tag @logo.url %>
    </div>

    <%= form_with model: [@portfolio, @transaction], local: true do |f| %>
    <div class="col-sm-12">
        <% f.label :symbol, style: "display: block" %>
        <%= f.text_field :symbol, value: @portfolio.symbol %>
    </div>

    <div>
        <%= f.label :price, style: "display: block" %>
        <%= f.text_field :price %>
    </div>

    <div>
        <%= f.label :amount, style: "display: block" %>
        <%= f.text_field :amount %>
    </div>  

    <div>
        <% f.label :action, style: "display: block" %>
        <%= f.hidden_field :action, value: "sell" %>
    </div>  

    <p>
        <% if @transaction.errors.any? %>
        <ul>
            <% @transaction.errors.full_messages.each do | message |%>
            <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
        <% end %>
    </p>

    <div>
        <%= f.submit "Sell" %>
    </div>
    
<% end %>
</div>